/* Field Guide marketing site */

@import "partials/core";
@import "partials/grid";
@import "partials/helpers";
@import "partials/mixins";
@import "partials/fonts";
@import "partials/type-forms-buttons";
@import "partials/pricing";
@import "partials/login";


#header {

	padding: 0;
	margin: 0;
	width: 100%;
	background: $white;
	padding: 20px 30px 15px 30px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	
	img {
		height: 26px;
		width: auto;
	}
	
	.button {
		margin-left: 20px;
	}
	
	#nav {

		ul {
			padding: 0 0 0 20px;
			margin: 0;
			list-style: none;
			
			li {
				float: left;
				padding: 0 0 0 20px;
				
				a {
					color: $gray-dark;
					@include type-regular;
					font-size: 16px;
					text-decoration: none;
				}
			}
		}
	}
}


/* alt-header */
#header-light {

	&.visible {
		display: block;
	}

	display: none;
	padding: 0;
	margin: 0;
	width: 100%;
	background: transparentize(#ffffff,0.06);
	padding: 20px 30px 15px 30px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	border-bottom: 1px solid rgba(0,0,0,0.06);
	
	img {
		height: 26px;
		width: auto;
	}
	
	#nav {	
		ul {
			padding: 0 0 0 20px;
			margin: 0;
			list-style: none;
			
			li {
				float: left;
				padding: 0 0 0 20px;

				a {
					color: $gray-dark;
					@include type-regular;
					font-size: 16px;
					text-decoration: none;
				}
			}
		}
	}

	#logins {
		.button {
			margin: 0 20px;
		}
	}

}



/* mobile header */
#header-burger {

	display: none;
	padding: 90px 30px 0 30px;
	margin: 0;
	width: 100%;
	height: 100%;
	background: transparentize(#ffffff,0.06);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 900;
	
	a.grey {
		color: #585858;
		@include type-bold;
		font-size: 14px;
		text-decoration: none;
	
	}
	
	ul {
		padding: 0 0 20px 0;
		margin: 0;
		list-style: none;
		
		li {
			padding: 0 0 10px 0;
		}
	}

}


/* mobile header invocation control */

.mobile-nav {
	display: none;
	font-size: 40px;
	@include type-bold;
	padding: 0;
	margin: -8px 0 0 0;
	cursor: pointer;
}

#header {
	.mobile-nav {
		color: $gray-dark;
	}
}

/* blog banner */

#blog-banner {
	height: 60px;
	background: $green;
	margin: 67px 0 0 0;

	.blog-banner-content {
		text-align: center;
		padding: 10px;

		img {
			margin: 0 20px 0 0;
			vertical-align: middle;
			display: inline;
		}

		p {
			margin: 10px auto 0 auto;
			color: $white;
			@include type-light;
			font-size: 18px;
			display: inline-block;

			a {
				color: $white;
				text-decoration: none;
				@include type-light;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

/* banner */

#banner {
	height: 100%;
	background: $white url('../img/mountains.svg') top right no-repeat;
	background-size: 75%;
	margin: 0;
	padding: 0;
	position: relative;
	
	&.thanks {
		background: $orange url('../img/gfx/mountains.gif') no-repeat bottom center;
		background-size: cover;
	}
	
	#banner-content {
		width: 45%;
		padding: 0;
		margin: 5% 0 0 5%;
		float: left;
		
		h1 {
			width: 100%;
			margin: 0 0 15px 0;
			font-size: 44px;
			line-height: 50px;
			letter-spacing: -1px;
			color: $slate;
			@include type-light;
		}
		
		h3 {
			width: 90%;
			margin-bottom: 30px;
			color: $gray;
			@include type-light;
			font-size: 20px;
			line-height: 21px;
		}
	}
	
	.feature-banner-image {
		width: 45%;
		margin: 10% 0;
		float: left;
		
		img {
			width: 100%;
			height: auto;
		}	
	}
}


/* overview */

#overview {
	padding: 70px 0;
	margin: 0;
	
	.col-full {
		padding: 40px 0;
	}
	
	h2 {
		color: $brown;
	}
	
	.feature-image {
		width: 45%;
		
		img {
			width: 100%;
			height: auto;
		}	
	}
	
	.feature-copy {
		width: 45%;
		padding: 100px 20px 0 20px;
	}
	
}


/* what can you test */


#whatcanyoutest {
	padding: 0 0 30px 0;
	margin: 0;

	img {
		display: block;
		margin: 0 auto;
	}
	
	h2 {
		text-align: center;
		@include type-regular;
		font-size: 34px;
		margin: 20px 0;
	}
	
	h3 {
		margin-bottom: 5px;
	}
	
	a {
		font-size: 14px;
		@include type-light;
		text-align: center;
		display: block;
	}

	ul.points {
		padding: 0;
		margin: 40px 0;
		list-style: none;
		
		li {
			float: left;
			width: 50%;
			padding: 5px 20px 40px 30px;
			margin: 0;

			h3 {
				@include type-regular;
				color: $gray-med;
				font-size: 24px;
			}
			
			p {
				@include type-light;
				color: $gray-med;
				font-size: 18px;
			}
		}
	}
	
	
	$types: ethno, prototypes, usability,competition;
			
	@each $type in $types {
	#icon-#{$type} {
			background: url("../img/icons/#{$type}.svg") no-repeat left 4px;
			background-size: 24px 24px;
		}
	}
	
	
}

/* just general content */
#general {
	padding: 40px 0;
	margin: 0;
	
	&.grey-bg {
		padding: 140px 0 40px 0;
		background: #f4f4f4;
	}
	
	.general-title {
		text-align: center;
		margin: 0 0 40px 0;
		
		h1 {
			margin: 0 0 -10px 0;
		}
		
		p {
			opacity: 0.7;
			font-size: $type-size-base*0.8;
			margin-bottom: 20px;
			
		}
	}
}


/* how it works */

#howitworks {
	padding: 70px 0 50px 0;
	margin: 0;
	background: $fg-bg;

	p {
		color: $gray;
		font-size: 20px;
		@include type-light;

		&.small {
			opacity: 0.6;
			font-size: 16px;
			line-height: 18px;
		}
		
	}
	
	.howitworks-title {
		text-align: center;
		padding: 20px 0;
		
		h2 {
			margin: 0 0 30px 0;
			color: $slate;
			font-size: 34px;
			@include type-regular;
		}
		
		img {
			width: 180px;
			height: auto;
		}
	}
	
	.col-full {
		padding: 50px 0;
	}
	
	h2 {
		color: $brown;
	}
	
	#feature-f1 {

		.feature-copy {
			padding-left: 100px;
		}
	
		.testwith {
			img {
				width: 100%;
				height: auto;
			}
		}
	}

	#feature-f2 {
		padding-top: 50px;

		.feature-copy {
			padding-right: 100px;
		}
	}

	#feature-f3 {
		
		.feature-copy {
			padding-left: 100px;

			& a {
				margin: 0 0 40px 0;
				display: block;
			}
		}

		.testwith {
			img {
				width: 100%;
				height: auto;
			}
		}
	}

	#feature-f3, #feature-f2, #feature-f1 {
	
		.feature-image {
			width: 65%;
			
			img {
				width: 100%;
				height: auto;
			}	
		}
		
		.feature-copy {
			padding-top: 12%;
			width: 30%;
		}
	}
	
	

}

/* footer CTA */

#footerCTA {
	text-align: center;
	font-size: 22px;
	padding: 40px 0;

	h4 {
		text-transform: none;
		font-size: 22px;
		@include type-regular;
		display: inline-block;
		margin: 0 10px 0 0;
		opacity: 1;
	}
}

/* footer banner */

#footer-banner {
	position: relative;

	.back-layer {
		width: 100%;
		height: 213px;
		background: $fg-bg url('../img/footer-bg.svg') bottom center no-repeat;
		background-size: cover;
	}

	.front-layer {
		width: 100%;
		position: absolute;
		top: 16px;
		z-index: 1;
		
		.content {
			width: 100%;
			
			img {
				margin: -11px 0 0 0;
				float: left;
			}
			
			.copy {
				width: 75%;
				margin: 60px 0 0 40px;
				float: left;

				h3 {
					font-size: 30px;
					text-transform: uppercase;
					@include type-bold;
					color: $brown;
				}

				p {
					font-size: 20px;
					@include type-light;
					color: $brown;
				}
			}
		}
		
	}
}



/* mailing list */
#view-register{
	height:100%;

	// .content{
	// 	padding-top:40px;
	// }
}

.signup {
	display: none;
	padding: 40px 0;
	
	.formfield {
		float: left;
	}
	
	.field-name, .field-email {
		width: 45%;
		padding: 0 10px 0 0;
		margin: 0;
		
		input {
			width: 100%;
		}
	}
	
	.field-button {
		width: 10%;
		
		button {
			width: 100%;
		}
	}
	
	h3 {
		padding: 0;
		margin: 0 0 10px 0;
	}

}




/* faq stuff */

#faq-nav {
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		
		li {
			padding: 0 0 15px 0;
			margin: 0;
		}
	}
}

#faq-content {
	h2 {
		@include type-extralight;
		opacity: 0.6;
		margin-bottom: 40px;
		
	}
	
	h3 {
		margin: 0;
	}
	
	p {
		margin: 10px 0 40px 0;
		
		img {
			width: 75%;
			height: auto;
		}
	}
}





/* footer */

#footer {
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	padding: 40px 0 40px 0;
	margin: 0;
	border-top: 1px solid rgba(0,0,0,0.1);
	
	a {
		color: #3B4447;
	}	
}



/* thanks page */

.thanks-page {
	padding-top: 120px !important;

	h1, p {
		text-align: left !important;
	}
	
	h1 {
		width: 100% !important;
		margin: 0 !important;
	}
}

@import "partials/mq";




















