$max-width: 980px;
$min-width: 280px;
$type-size-base: 16px;
$type-line-base: 22px;


/* colours */

$brown: #4d423a;
$white: #fff;
$green: #85AC0F;
$orange: #f5795b;
$orange-dark: #872717;
$red: #91341D;
$gray: #949799;
$gray-dark: #585858;
$blue: #00B5E3;
$slate: #2B404D;