/* media queries */

@media (max-width: 1000px) {

	#overview {
		.col-full {
			.feature-copy {
				padding-top: 20px;
			}
		}
	}
	
	
	#howitworks {
		.col-full {
			padding: 40px 0px !important;
		}

		#feature-f1, #feature-f2, #feature-f3 {
			.feature-image {
				width: 55%;
			}
			
			.feature-copy {
				padding-top: 0px;
				width: 40%;
			}
		}
	}

	#banner {
		height: 80%;

		.feature-banner-image {
			margin: 15% 0;
		}
	}


	#footer-banner {

		.front-layer {

			.content {
				margin: 0 0 0 10%;

				.copy {
					width: 60%;

					h3 {
						font-size: 24px;
						line-height: 24px;
						margin: 0 0 10px 0;
					}

					p {
						font-size: 16px;
					}
				}
			}
			
		}
	}
}



@media (max-width: 900px) {

	#banner {
		height: 100%;

		#banner-content {
			margin: 5% auto 0 auto;
			width: 100%;
			text-align: center;

			h1 {
				margin: 0 auto 20px auto;
				width: 68%;
			}

			h3 {
				margin: 0 auto 20px auto;
				width: 100%;
			}

			a.button {
				margin: 20px auto 0 auto;
			}
		}

		.feature-banner-image {
			width: 100%;
			margin: 30px auto;
		}
	}

	#whatcanyoutest {
		padding-bottom: 60px;
		
		ul.points {
			li {
				width: 100%;
				float: none;
				padding: 0 0 20px 50px;
				margin: 0;
			}
		}
	}

	#feature-f1, #feature-f2, #feature-f3 {
		.feature-image {
			width: 50%;
		}
		
		.feature-copy {
			padding-top: 20px;
			width: 50%;
		}
	}

	#footer-banner {

		.front-layer {

			.content {
				margin: 0 0 0 5%;
			}
		}
	}
}


@media (max-width: 860px) {

	#banner {
		#banner-content {

			h1 {
				width: 75%;
			}
		}
	}

	#footer-banner {
		.front-layer {
			.content {
				.copy {
					width: 65%;
					h3 {
						font-size: 23px;
					}
					p {
						font-size: 15px;
					}
				}
			}
			
		}
	}
}

@media (max-width: 750px) {

	#footer-banner {
		.front-layer {
			.content {
				.copy {
					width: 55%;
					h3 {
						font-size: 23px;
					}
					p {
						font-size: 15px;
						line-height: 16px;
					}
				}
			}
			
		}
	}
}

@media (max-width: 675px) {

	#blog-banner {
		
		.blog-banner-content {

			p {
				font-size: 16px;
				display: inline;
			}
		}
	}

	#banner {
		#banner-content {

			h1, h3 {
				width: 90%;
			}

			a.button {
				display: none;
			}

			.feature-banner-image {
				margin: 30px auto;
			}
		}

		.mobile-button {
			display: block !important;
			text-align: center;
		}
	}
	
	#howitworks {

		#feature-f1, #feature-f2, #feature-f3 {

			.feature-copy {
				padding: 40px 40px 0 40px;
			}
		}
	}
	
	.feature-copy, #feature-f3 h2, #feature-f3 p {
		width: 100% !important;
		text-align: center;
	}

	.feature-image {
		width: 100% !important;
		float: none;
		display: block;
		padding: 0;
		margin: 0 auto 20px auto;
	}

	#whatcanyoutest {
		padding: 130px 0;
	}
	
	#footerCTA {
		text-align: center;

		h4 {
			display: block;
			margin: 0 0 20px 0;
		}
	}
	
	.button.green {
		width: 80%;
		display: block;
		margin: 10px auto 0 auto;
	}
	
	#header, #header-light {
		.mobile-nav {
			display: block;
		}
		
		#logins {
			display: none;
		}
		
		#nav {
			display: none;
		}
	}

	#footer-banner {
		display: none;
	}
	
}

@media (max-width: 605px) {
	#blog-banner {
		
		.blog-banner-content {
			padding: 10px 10px 10px 15px;
			text-align: left;
			float: left;

			img {
				margin: 0 20px 0 0;
				vertical-align: middle;
				float: left;
			}

			p {
				margin: 0;
				font-size: 18px;
				line-height: 18px;
				display: inline-block;
				text-align: left;
				width: 85%;
				float: left;
			}
		}
	}
}


@media (max-width: 400px) {

	#blog-banner {
		height: 65px;

		.blog-banner-content {
			p {
				font-size: 16px;
				line-height: 16px;
				width: 75%;
			}
		}
	}

	#banner {
		height: 85%;

		#banner-content {

			h1 {
				font-size: 30px;
				line-height: 30px;
			}

			h3 {
				font-size: 18px;
				line-height: 19px;
			}
		}

		&.mobile-button {
			display: block;
			text-align: center;

			a.button {
				width: 90%;
			}
		}
	}
	
}


@media (max-width: 320px) {

	#banner {
		height: 85%;
		background-size: 150%;
		
	}
}
